<h2><%= @post.title %></h2>
<h3>By: <%= @post.author.name %></h3>
<p><%= @post.content%></p>
<img src="<%=@post.image_url%>">

<%= link_to 'Edit This Post', edit_sekret_post_path %>
<%= link_to 'Delete This Post', sekret_post_path, method: :delete %>


<%= form_for @post, url: {action: "yoda"}, method: :get do |f| %>

    <%= f.submit "Yodafy" %>
    <% end %>